<div class="row">
  <div class="col-md-12">
      <aw-wizard #wizard [navBarLayout]="'large-filled-symbols'">
        <aw-wizard-step [stepTitle]="'First Name'" [navigationSymbol]="{ symbol: '1' }">
          <div class="centered-content">
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
              <div class="form-row">
                  <div class="formHeading">Enter First Name*</div>
                  <input type="text" id="firstName" formControlName="firstName">
                  <div class="errorMessage" *ngIf="form.controls.firstName.touched && !form.controls.firstName.valid">First Name is required</div>
              </div>
              <div class="btn-group">
                  <button type="submit" [disabled]="!form.valid" class="btn btn-secondary" awNextStep ng-hide="firstName.length">Continue</button>
              </div>
            </form>
          </div>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Last Name'" [navigationSymbol]="{ symbol: '2' }">
          <div class="centered-content">
            <div>
                <label for="firstname">Last Name:</label>
                <input id="firstname" name="lastname" type="text" pInputText [(ngModel)]="lastName"/>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
              <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
            </div>
          </div>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Email Address'" [navigationSymbol]="{ symbol: '3' }">
          <div class="centered-content">
            <div>
              Content: Email Address
            </div>
            <div>
                <label for="firstname">Email:</label>
                <input id="firstname" name="email" type="email" pInputText [(ngModel)]="email"/>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
              <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
            </div>
          </div>
        </aw-wizard-step>
      </aw-wizard>
  </div>
</div>



